/* Definição de zeramento das margens e pneding geral e formatação da fonte  */
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "monica-ext-font_YIBBBFG";
}

/* ------------------------------------------------------------ESTILIZAÇÃO INDEX -------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Estilização do Header  */
.header-index {
  text-align: center;
  padding: 0.3rem 0rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: end;
  padding: 5px 20px;
  align-items: center;
}

.header-index li {
  list-style-type: none;
}

.header-index a {
  background-color: black;
  color: white;
}

.header-index a:hover {
  color: blue;
  cursor: pointer;
}

.header-index h1 {
  margin-right: 30rem;
}

/* Estilização do Body  */
.body-index {
  background-image: url(img/background.jpg);
  background-size: 100% auto;
  font-size: 1.1rem;
  background-color: white;
}

/* Estilização da section 1 do index  */
.sec-1-index-father {
  color: white;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 10px 5px;
}

.sect-1-index-son-left {
  width: 70%;
}

.titulo-sect-1-index h2 {
  text-align: center;
  margin-bottom: 1rem;
  background-color: blue;
  border-radius: 10px;
  color: white;
}

.sect-1-index-son-left ol li {
  display: flex;
  margin: 10px 0px;
}

.sect-1-index-son-left ol li div {
  border: 2px solid black;
  width: 40%;
  height: 30px;
  margin-right: 10px;
}

.sect-1-index-son-left ol li h4 {
  font-size: 1.3rem;
}

.sect-1-index-son-right {
  text-align: end;
  margin-right: 0.5rem;
}

.sect-1-index-grandSon1 {
  display: inline-block;
}

.sect-1-index-grandSon1 div {
  height: 10rem;
  width: 10rem;
  background-color: blue;
  border-radius: 100%;
  text-align: center;
  font-size: 3rem;
  color: white;
  border: 3px solid black;
}

.sect-1-index-grandSon1-1 div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sect-1-index-grandSon2 {
  display: flex;
  justify-content: end;
}

.sect-1-index-grandSon2 {
  vertical-align: bottom;
}
.sect-1-index-grandSon2 div {
  height: 5rem;
  width: 5rem;
  font-size: 1.5rem;
  background-color: rgb(11, 255, 11);
  color: white;
}

.sect-1-index-grandSon2 h3 {
  text-align: center;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.sect-1-index-grandSon2 h4 {
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilização da section 2 do index  */
.sec-2-index-father {
  display: flex;
  justify-content: space-between;
  margin: 50px 20px;
  list-style-type: none;
}

.sec-2-index-father li {
  list-style-type: none;
  display: flex;
}

.sec-2-index-father h2 {
  color: white;
  background-color: black;
  text-align: center;
  margin-bottom: 20px;
  padding: 7px 0px;
}

.sec-2-index-father h4 {
  width: 80%;
  border: 2px solid black;
  margin: 15px 25px;
  padding: 10px;
  border-radius: 0px 20px 0px 0px;
}

.sect-2-index-grandSon1 {
  border: 2px solid black;
  border-radius: 10px;
}

.sect-2-index-grandSon1 {
  width: 60%;
}

.sect-2-index-grandSon1 a {
  border: 2px solid black;
  margin: 15px 25px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.sect-2-index-grandSon1 {
  background-color: rgb(56, 52, 52);
}

.sect-2-index-grandSon1 h4 {
  background-color: rgb(255, 0, 0);
}

.sect-2-index-grandSon1 a {
  background-color: rgb(255, 0, 0);
}

.sect-2-index-grandSon1 a:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

.sect-2-index-grandSon2 {
  background-color: rgb(54, 56, 52);
}

.sect-2-index-grandSon2 h4,
a {
  background-color: rgb(0, 255, 60);
}

.sect-2-index-grandSon2 a:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

.sect-2-index-grandSon2 {
  border: 2px solid black;
  border-radius: 10px;
}

.sect-2-index-grandSon2 a {
  border: 2px solid black;
  margin: 15px 25px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.sect-2-index-grandSon2 h4 {
  margin-right: 0;
}

.sect-2-index-grandSon2 li {
  font-size: 0.8rem;
}

/* Estilização do footer  */
footer {
  background-color: black;
  color: white;
  height: 4rem;
  padding-top: 1.4rem;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

footer li {
  list-style-type: none;
}

footer a {
  background-color: black;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: 5px;
}

footer a:hover {
  color: blue;
}

/* ------------------------------------------------------------ESTILIZAÇÃO INDEX - RESPONSIVIDADE ----------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 1140px) {
  .body-index {
    font-size: 0.9rem;
  }

  .sect-2-index-grandSon1 {
    width: 50%;
  }

  .sect-2-index-grandSon1 h4 {
    margin-right: 0;
  }

  .sect-2-index-grandSon1 {
    margin-right: 2rem;
  }

  .sec-2-index-father {
    margin: 30px 10px;
    justify-content: space-around;
  }

  .sect-1-index-son-left {
    width: 65%;
  }

  .sect-1-index-son-left ol li div {
    width: 50%;
    margin-left: 0.5rem;
  }

  .titulo-sect-1-index h2 {
    margin: 20px 10px;
    color: white;
  }

  .sect-2-index-grandSon2 h4 {
    text-align: center;
  }

  .sect-2-index-grandSon2 a {
    margin: 10px 15px;
  }

  .sect-2-index-grandSon1 a {
    margin: 10px 15px;
  }
}

@media (max-width: 867px) {
  .sect-2-index-grandSon1 {
    width: 50%;
  }

  .sect-2-index-grandSon2 {
    width: 50%;
  }

  .header-index h1 {
    margin-right: 10rem;
  }
}

@media (max-width: 646px) {
  .sec-2-index-father {
    display: block;
  }

  .sect-2-index-grandSon1 {
    width: 100%;
  }

  .sect-2-index-grandSon2 {
    width: 100%;
  }

  .sect-2-index-grandSon1 {
    margin-bottom: 2rem;
  }

  .sect-1-index-son-left ol li {
    display: block;
  }

  .sect-1-index-son-left ol li h4 {
    margin-left: 0.5rem;
    font-size: 1rem;
  }

  .sect-1-index-son-left ol li div {
    width: 80%;
  }
}

@media (max-width: 426px) {
  .sect-1-index-son-left ol li div {
    width: 80%;
  }
}

@media (min-width: 900px) {
  .sect-1-index-son-left ol li div {
    margin-left: 2rem;
  }

  .sect-1-index-son-right {
    margin-right: 2rem;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------ESTILIZAÇÃO DO TAREFAS CREATE --------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Estilização do Header Create Tarefa  */
.header-create ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 5px 0px;
  background-color: black;
  color: white;
}

.header-create ul li a {
  background-color: transparent;
}

.header-create ul li {
  list-style-type: none;
  width: 100%;
}

.header-create ul li h1 {
  font-size: 1.5rem;
}

/* Estilização do Body Create Tarefa  */

.body-create form {
  width: 70%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center;
  font-size: 100%;
}

.body-create {
  background-image: url(img/background.jpg);
  background-size: 100% auto;
}

/* Estilização da section 1 da pagina create  */

.sect-1-pai-create {
  background-color: rgba(0, 0, 0, 0.594); /* Cor azul com opacidade de 0.5 */
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}

.sect-1-create {
  color: white;
  width: 100%;
}

.sect-1-create label {
  font-size: 1.1rem;
  font-weight: bold;
}

.sect-1-create ul li {
  list-style-type: none;
}

.sect-1-create ul li div {
  display: inline-block;
  width: 70%;
  justify-content: center;
}

.sect-1-create ul li div input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 0;
}

.input-data-time section {
  display: flex;
  margin: 10px 0px;
}

.data1 {
  margin-right: 0.5rem;
}

.time1 {
  margin-left: 0.5rem;
}

.input-data-time section div input {
  width: 10%;
}

.obs-tarefa {
  display: block;
}

.obs-tarefa textarea {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 0;
}

/* Estilização de section 2 da pagina create  */
.sect-2-create {
  width: 100%;
  display: flex;
  margin: 30px 10px 10px 10px;
  justify-content: space-evenly;
}

.sect-2-create ol select {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 130px;
  border: 2px solid black;
  border-radius: 7px;
}

.sect-2-create ol select option {
  font-size: 1.2rem;
  text-align: center;
}

/* ------------------------------------------------------------ESTILIZAÇÃO DO TAREFAS CREATE RESPONSIVE --------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 830px) {
  .header-create ul li h1 {
    font-size: 1.2rem;
  }

  .header-create ul {
    height: 3rem;
  }

  .body-create form {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .sect-1-pai-create {
    width: 100%;
    margin: 10px 0px 20px 0px;
  }
}

@media (max-width: 695px) {
  .header-create ul {
    margin-bottom: 10px;
  }

  .header-create ul li h1 {
    font-size: 1.1rem;
    width: 100%;
  }

  .sect-1-create ul li div {
    width: 100%;
  }

  .obs-tarefa textarea {
    height: 90px;
  }
}

@media (max-width: 600px) {

  .header-create ul li img {
    width: 15%;
  }

  .header-create ul li {
    width: auto;
  }

  .header-create ul li img {
    height: 25px;
    width: 25px;
  }

  .header-create ul li h1 {
    font-size: 1rem;
    width: 100%;
  }
}

@media (max-width: 395px) {
  .sect-2-create {
    display: block;
  }

  .sect-2-create ol select {
    margin-bottom: 150px;
    width: 80%;
    font-size: 1rem;
  }

  .sect-2-create {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 270px) {
  .input-data-time section {
    display: block;
  }

  .sect-1-create ul li div {
    margin-left: 0;
  }
}
