<%- include("./partials/head") %> 

<h1><a href="/index.ejs">Pagina Inicial</a></h1>
<main class="mensagem-erro">

<h1>Erro 404 - Página não encontrada</h1>
<p>A página que você está procurando não existe.</p>

<a href="/">Volte a Pagina inicial</a>

</main>
