<%- include("partials/head") %>


<!-- Titulo da Pagina Home  -->
<header class="header-index">
    <h1>Gabriel</h1>
    <ul>
        <li><a href="/create"><img src="./img/create-tarefa.png" alt="icone create tarefa"></a></li>


    </ul>
</header>
<body class="body-index">

    <div class="titulo-sect-1-index"><h2 >DESEMPENHO RECORRENTES</h2></div>
<!-- Barreira de evolução das tarefas recorrentes  -->
    <section class="sec-1-index-father">

        <div class="sect-1-index-son-left">
            <ol>
                <li><div></div><h4>Ingles</h4></li>
                <li><div></div><h4>Programação(Curso)</h4></li>
                <li><div></div><h4>Auto Escola</h4></li>
                <li><div></div><h4>Auto Escola</h4></li>
                <li><div></div><h4>Auto Escola</h4></li>
            </ol>
        </div>

<!-- Informa uma porcentagem de Desempenho com base nas atividade já feitas no 
    mês em cima da meta, e abaixo o resultado do desempenho do mês passado -->
        <div class="sect-1-index-son-right">
<!-- Porcentagem de desempenho do mês -->
           <div class="sect-1-index-grandSon1 sect-1-index-grandSon1-1">
            <div>
                <h3>10%</h3>
            </div>
           </div>
<!-- Porcentagem de desempenho do mês passado -->
           <div class="sect-1-index-grandSon1 sect-1-index-grandSon2">
            <div>
                <h3>80%</h3>
            <h4>MÊS <br> ANTERIOR</h4>
            </div>
           </div>
        </div>
    </section>

<!-- Aqui fica a visualização das Tarefas, onde temos as tarefas atrasadas e as tarefas do dia de hoje -->
    <section class="sec-2-index-father">
<!-- Tarefas atrasadas -->
        <div class="sect-2-index-grandSon1">
            <h2>TAREFAS ATRASADAS</h2>
            <ol>
                <li><h4>Tarefa - Ingles/1h de terça *(Atrasada)</h4> <a href="/tarefaViews">Começar</a></li>
                <li><h4>Tarefa - Programação/2h de terça *(Atrasada)</h4> <a href="/tarefaViews/show">Retomar</a></li>
                <li><h4>Tarefa - Auto Escola/1h de terça *(Atrasada)</h4> <a href="/tarefaViews" >Começar</a></li>
                <li><h4>Tarefa - Auto Escola/1h de terça *(Atrasada)</h4> <a href="/tarefaViews">Retomar</a></li>
                <li><h4>Tarefa - Auto Escola/1h de terça *(Atrasada)</h4> <a href="/tarefaViews">Começar</a></li>
                <li><h4>Tarefa - Auto Escola/1h de terça *(Atrasada)</h4> <a href="/tarefaViews">Começar</a></li>
            </ol>
        </div>

<!-- Tarefas do Dia -->
        <div class="sect-2-index-grandSon2">
            <h2>Tarefa do dia (Quarta)</h2>

            <% for (const tarefa of tarefas) { %>
                <ol>
                    <li><h4>Tarefa - <%= tarefa.nome_tarefa %>/ <%= tarefa.tempo %></h4> <a href="/<%= tarefa.id %>">Começar</a>
                    </li>
                </ol>
            <% } %>
            
            
            
        </div>
    </section>
</body>

<!-- Rodape onde fica os outros temas  -->
<footer>
    <ul>
        <li><a href="#">Investimento</a></li>
        <li><a href="#">Planos futuros</a></li>
    </ul>
</footer>
</html>
